<?xml version="1.0" encoding="UTF-8"?>
<Allegiance>
  <FedSrv
    MaxPlayersPerGame="20"
    LockOpen="false"
    cbValueName=""
    nUpdatesPerSecond="25"
    nDebugMask="2"
    MaxGames="2"
    MaxBandwidth="10"
    MaxNewbRank="4"
    fProtocol="1"
    fDoublePrecision="1"
    fTimeout="0"
    SQLThreadsNotify="2"
    SQLThreadsSilent="1"
    SQLConfig=""
    AuthServer="Pointweb01-wat"
    PrivilegedUsers="foo,bar"
    LobbyServer=""
    PublicName=""
    Location=""
    ArtPath=""
    fWantInt3="false"
    />
  <AllLobby />
  <AllClub />
</Allegiance>